.events-container {
    padding: 20px;
    margin: auto;
    max-width: 1200px;
    margin-top: 100px;
}


.photo-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;  /* Spacing between images */
}

.photo-gallery img {
    width: 100%;
    max-width: 300px;  /* Controls the size of the images */
    height: auto;
    border-radius: 5px;  /* Rounded corners for images */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
